<!DOCTYPE html>
<!--suppress JSUnresolvedVariable -->
<html>
<head>
<meta charset="UTF-8">
<title>LP Stores</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<style>
.md-scale-animate{
	transition: 500ms all;
	overflow: hidden;
}
.md-scale-animate.ng-hide{
	height: 0 !important;
	margin-top: 0;
	margin-bottom: 0;
	transform: scale(0);
}
.offer-costs span{
	display: block;
}
.no-round{
	border-radius: 0 !important;
}
.requirement-icon{
	width: 40px;
	height: 40px;
	margin-top: 16px;
	margin-right: 12px;
}
</style>
<script>
function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

async function esiRequest(url, body) {
    let delays = [10000, 3000, 500, 0], latestError;
    while (delays.length) {
        await sleep(delays.pop());
        try {
            return await fetch("https://esi.evetech.net" + url, body ? {
                method: "POST",
                body: JSON.stringify(body)
            } : undefined).then(r => r.json());
        }
        catch (e) {
            latestError = e;
        }
    }
    throw latestError;
}

class names {
    constructor() {
        this.$nameList = new Map();
    }
    
    set(id, name) {
        this.$nameList.set(id, name);
        this[id] = name || "#" + id;
    }
    
    getNames() {
        // Find IDs with unknown names
        let unknown = Array.from(this.$nameList).filter(e => !e[1]).map(e => e[0]);
        console.log(`Need to get ${unknown.length} names`);
        // Split IDs into batches of 1000 items
        let batches = [];
        while (unknown.length) {
            batches.push(unknown.splice(0, 1000));
        }
        // Request names from ESI
        return Promise.all(batches.map(batch => esiRequest("/v2/universe/names/", batch).then(names => names.forEach(e => this.set(e.id, e.name)))));
    }
}

const app = angular.module("lp", ["ngMaterial"]);

app.config(function ($mdThemingProvider) {
    $mdThemingProvider.theme("default").primaryPalette("deep-purple").accentPalette("deep-orange");
});

app.controller("store", function ($scope) {
    $scope.names = new names();
    
    // Powers the
    $scope.lpStoresTotal = 0;
    $scope.lpStoresLoaded = 0;
    $scope.loadingFinished = false;
    $scope.loadingError = false;
    
    $scope.corpIDs = [];
    $scope.corps = [];
    $scope.selectedCorp = false;
    
    $scope.lpStores = {};
    $scope.sortingMethodActive = "name";
    $scope.sortingMethods = {
        "name": {text: "Item name", sort: offer => $scope.names[offer.type_id]},
        "quantity": {text: "Quantity", sort: ["-quantity", offer => $scope.names[offer.type_id]]},
        "isk": {text: "ISK cost", sort: ["isk_cost", offer => $scope.names[offer.type_id]]},
        "point": {text: "Point cost", sort: ["lp_cost", "ak_cost", offer => $scope.names[offer.type_id]]}
    };
    
    async function start() {
        // Load list of NPC corporations
        $scope.corpIDs = await esiRequest("/v1/corporations/npccorps/");
        $scope.lpStoresTotal = $scope.corpIDs.length;
        
        await Promise.all($scope.corpIDs.map(corpID => Promise.all([
            // Load corp details
            esiRequest(`/v4/corporations/${corpID}/`).then(corp => {
                $scope.names.set(corpID, corp.name);
                $scope.names.set(corp.home_station_id);
                $scope.corps.push({
                    id: corpID,
                    name: corp.name,
                    ticker: corp.ticker,
                    description: corp.description,
                    hq: corp.home_station_id
                });
            }),
            // Load corp loyalty store offers
            esiRequest(`/v1/loyalty/stores/${corpID}/offers/`).then(offers => {
                // ESI still returns 404 errors for some NPC corps
                if (!Array.isArray(offers)) {
                    offers = [];
                }
                offers.forEach(offer => {
                    $scope.names.set(offer.type_id);
                    offer.required_items.forEach(item => {
                        $scope.names.set(item.type_id);
                    });
                });
                $scope.lpStores[corpID] = offers;
            })
        ])));
        $scope.loadingFinished = true;
        await $scope.names.getNames();
        $scope.$apply();
    }
    
    start().then(() => console.log("Loaded LP store data"), error => {
        $scope.loadingError = error.message;
        $scope.$apply();
    });
});
</script>
</head>
<body ng-app="lp" ng-controller="store">
<md-toolbar class="md-toolbar-tools">
	<h1>EVE Online LP stores</h1>
</md-toolbar>
<md-content>
	<!-- Progress bar card -->
	<md-card class="md-scale-animate" ng-hide="loadingFinished">
		<md-card-title>
			<md-card-title-text><span class="md-headline">Loading LP store data...</span></md-card-title-text>
		</md-card-title>
		<md-card-content ng-show="loadingError">{{ loadingError }}</md-card-content>
		<md-card-content ng-hide="loadingError">
			<md-progress-linear class="md-accent"></md-progress-linear>
		</md-card-content>
	</md-card>
	<!-- Options menu card -->
	<md-card class="md-scale-animate" ng-show="loadingFinished">
		<md-card-title>
			<md-card-title-text><span class="md-headline">Select corporation</span></md-card-title-text>
		</md-card-title>
		<md-card-content layout>
			<!-- Corp selection -->
			<md-input-container flex="70">
				<label>Corporation</label>
				<md-select ng-model="selectedCorp">
					<md-option ng-repeat="corp in corps | orderBy:'name' track by corp.id" ng-if="lpStores[corp.id].length" ng-value="corp">
						{{ corp.name }}
					</md-option>
				</md-select>
			</md-input-container>
			<!-- Offer sorting method selection -->
			<md-input-container flex="30">
				<label>Sort offers by</label>
				<md-select ng-model="sortingMethodActive">
					<md-option ng-repeat="(sortID, sortInfo) in sortingMethods" ng-value="sortID">
						{{ sortInfo.text }}
					</md-option>
				</md-select>
			</md-input-container>
		</md-card-content>
	</md-card>
	<!-- Selected corp card -->
	<md-card class="md-scale-animate" ng-show="selectedCorp">
		<!-- Corp info (icon/name/description/hq) -->
		<md-card-header>
			<md-card-avatar>
				<img class="md-user-avatar no-round" ng-src="https://imageserver.eveonline.com/Corporation/{{selectedCorp.id || 1}}_64.png">
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">{{selectedCorp.name}} [{{selectedCorp.ticker}}]</span>
				<span class="md-subhead" ng-if="selectedCorp.hq">Headquarters:
					<a ng-href="http://evemaps.dotlan.net/station/{{ names[selectedCorp.hq] }}">{{ names[selectedCorp.hq] }}</a></span>
			</md-card-header-text>
		</md-card-header>
		<md-card-content>
			<p>{{ selectedCorp.description }}</p>
		</md-card-content>
		<!-- Loyalty point store offers -->
		<md-list>
			<md-divider></md-divider>
			<md-list-item class="md-3-line"
						  ng-repeat="offer in lpStores[selectedCorp.id] | orderBy:sortingMethods[sortingMethodActive].sort track by offer.offer_id">
				<img class="md-avatar no-round" ng-src="https://image.eveonline.com/Type/{{ offer.type_id }}_64.png">
				<div class="md-list-item-text">
					<h3>{{ names[offer.type_id] }} x{{ offer.quantity }}</h3>
					<p class="offer-costs">
						<span>{{ offer.isk_cost | number:0 }} ISK</span>
						<span ng-if="offer.lp_cost">{{ offer.lp_cost | number:0 }} LP</span>
						<span ng-if="offer.ak_cost">{{ offer.ak_cost | number:0 }} AK</span>
					</p>
				</div>
				<span flex></span>
				<div>
					<span ng-repeat="item in offer.required_items track by item.type_id">
					<md-tooltip md-direction="left">{{ names[item.type_id] }}</md-tooltip>
					<span>{{ item.quantity }}x</span>
					<span style="font-size:0;">{{ names[item.type_id] }}</span>
					<img class="requirement-icon" ng-src="https://image.eveonline.com/Type/{{ item.type_id }}_64.png">
					</span>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</md-card>
	<!-- Copyright notice card -->
	<md-card class="md-scale-animate" ng-show="selectedCorp">
		<md-card-content>&copy;2016 Carbon Alabel, all rights reserved.<br>All EVE Online related materials are property of CCP Games.</md-card-content>
	</md-card>
</md-content>
</body>
</html>
