.md-scale-animate {
    transition: 500ms all;
    overflow: hidden;
}

.md-scale-animate.ng-hide {
    height: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    transform: scale(0);
}

.no-round {
    border-radius: 0 !important;
}

.lp-store-offer {
    user-select: all;
}

.offer-costs span {
    display: block;
}

.invisible-font {
    font-size: 0;
}

.requirement-icon {
    width: 40px;
    height: 40px;
    margin-top: 16px;
    margin-right: 12px;
}